.ir-box {
    border: #ff0a14 solid 2px;
    width:200px;
    height: 200px;
    text-align:center;
    margin: 20px;
}

.box-input {
    border: #000 solid 1px;
    margin: 20px 20px 5px;
    padding: 5px;
    display: inline-block;
}